<!--templates/voter_analytics/voter_dtail.html
Sulaf Al Jabal (U78815065) 11/1/25
File description: voter detail html page used to showcase information
about one voter-->
{% extends "voter_analytics/base.html" %}


{% block content %}
<h1>Voter Detail</h1>
<div class="voter-detail">
    <strong>Name</strong> {{voter.first_name}} {{voter.last_name}} <br>
    <a href="{{address}}" target="_blank">
        <strong>Address:</strong> {{voter.address_street_number}}, {{voter.address_street_name}}, {{voter.address_apartment_number}}, {{voter.address_zip_code}}<br>
    </a>
    <strong>Date of Birth</strong> {{voter.date_of_birth}}<br>
    <strong>Date of Registration</strong> {{voter.registration_date}} <br>
    <strong>Party Affiliation</strong> {{voter.party_affiliation}} <br>
    <strong>Voter Score</strong> {{voter.voter_score}} <br>
    <strong>v20state?</strong> {{voter.v20state}} <br>
    <strong>v21town?</strong> {{voter.v21town}} <br>
    <strong>v21primary?</strong> {{voter.v21primary}} <br>
    <strong>v22general?</strong> {{voter.v22general}} <br>
    <strong>v23town?</strong> {{voter.v23town}} <br>
</div>
{% endblock %}

