

{% load static %}
<html>
    <head>
        <title>
            Hello, World!
        </title>
        <link rel="stylesheet" href="{% static 'hw/styles.css' %}">  
    </head>
    <body>
        <nav>
            <li> <a href="{% url 'home_page' %}">Home</a></li>
            <li> <a href="{% url 'about_page' %}">About</a></li>
        </nav>

        <!-- put page specific content here -->
         {% block content %}
         {% endblock %}

        <footer>
            The current time is {{time}}. <br>
            This page was brought to you by letters {{letter1}} and {{letter2}}, and the by the number {{number}}
        </footer>
    </body>
</html>