<!--templates/dadjokes/picture.html
Sulaf Al Jabal (U78815065) 11/13/2025
File description: html template responsible showcasing information about a particular picture through its primary-->

{% extends 'dadjokes/base.html' %}

{% block content %}
    <img src="{{ picture.image_url }}" alt="Image submitted by {{picture.name}}" width="200"> <br>
    <p>Picture submitted by <strong>{{picture.name}}</strong><br>Posted on: {{picture.timestamp}} <br>
        API information for this <a href = "{% url 'picture_api' picture.pk %}">picture</a>

    </p>

{% endblock %}