<!--templates/dadjokes/random.html
Sulaf Al Jabal (U78815065) 11/11/2025
File description: html template to showcase a random picture and joke
this template is shown for url patterns of 'random' and '' 
Uses two template to showcase random joke and picture since two separate view handle those templates-->

{% extends 'dadjokes/base.html' %}

{% block content %}
<!--insert joke and picture -->
<h2>Joke of the day</h2>
    <a href = "{% url 'joke' joke.pk %}">
        <p>
            {{joke.text}}<br>
            Submitted by {{joke.name}} <br>
            {{joke.timestamp}}

        </p>
    </a>
<h2>Picture</h2>
    <a href = "{% url 'picture' picture.pk %}">
        <img src="{{ picture.image_url }}" alt="Image submitted by {{picture.name}}" width="200"> <br>
        Picture submitted by {{joke.name}} <br> {{joke.timestamp}}
    </a>
{% endblock %}