<!-- templates/dadjokes/show_all_pictures.html
 Sulaf Al Jabal (U78815065) 11/13/2025
 File description: html template dedicated to showing all pictures-->

{% extends 'dadjokes/base.html'%}

{% block content %}
<p>
    {% for p in pictures %}
        <a href = "{% url 'picture' p.pk %}">
            <img src = "{{p.image_url}}" alt = "No image available"  width="200"> <br>
            Picture posted by {{p.name}} <br>
            {{p.timestamp}}<br>
        </a>
    {% endfor %}
    <a href = "{% url 'picture_list_api' %}">API info for all pictures</a>


</p>
{% endblock %}