<!-- /templates/project/appointment_search.html 
 Sulaf Al Jabal (U78815065) 11/24/25
 file description: html template for searching appointments, embedded into project/appointments.html page-->
 
 
<table>
<form action="{% url 'appointments' %}">

<tr>
    <th>Appointment Type:</th>
    <td>
        <select name="appointmentType" id="appointmentType">
            <option value="">All Types</option>
            {% for code, display in appointment_types %}
                <option value="{{code}}">{{display}}</option>
            {% endfor %}
        </select>
    </td>
</tr>

<tr>
    <th>Doctor:</th>
    <td>
        <select name="doctor" id="doctor">
            <option value="">Any Doctor</option>
            {% for d in doctors %}
                <option value="{{d.pk}}">{{d.lastName}}, {{d.firstName}}</option>
            {% endfor %}
        </select>
    </td>
</tr>

<tr>
    <th>Nurse:</th>
    <td>
        <select name="nurse" id="nurse">
            <option value="">Any Nurse</option>
            {% for n in nurses %}
                <option value="{{n.pk}}">{{n.lastName}}, {{n.firstName}}</option>
            {% endfor %}
        </select>
    </td>
</tr>

<tr>
    <th>Patient Name:</th>
    <td><input type="text" name="patient_name" placeholder="Search by patient name"></td>
</tr>

<tr>
    <th>Date Range:</th>
    <td>
        From: <input type="date" name="date_from">
        To: <input type="date" name="date_to">
    </td>
</tr>

<tr>
    <td><input type="submit" value="Search"></td>
    <td></td>
</tr>

</form>

</table>