<!--templates/project/appointments.html
Sulaf Al Jabal (U78815065) 11/24/25
File description: html template to showcase all records of appointments-->

{% extends 'project/base.html' %}
 
{% block content %}
<h1>Showing all Appointment records</h1>

<div class="container">
        
        <div class="row">
            {% include "project/appointment_search.html" %} <!-- splitting query search page and showing records-->
        </div>
        <a class="buttons" href="{% url 'appointments' %}">Clear Filters</a>
 
    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li> <!--keeps search querires/url containing search queries across pages -->
                    <span><a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Previous</a></span>                
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next</a></span>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
    
	<!-- table of results -->
    <div class="row">
        <table>
            
            <tr>
                <th>Patient Last Name</th>
                <th>Appointment Date</th>
                <th>Appointment Type</th>


            </tr>
    
            {% for a in appointments %}
            <tr>
                
                <td>
                    <a href = "{% url 'appointment' a.pk %}"> <!--link to individual patient detail view-->
                    {{a.patient.lastName}}</a>
                </td> 
                <td>{{a.dateTime}}</td>
                <td>{{a.appointmentType}}</td>

            

            </tr>
            {% endfor %}
        </table>
    </div>
 
</div>    
{% endblock %}
 

