<!--templates/project/appointments.html
Sulaf Al Jabal (U78815065) 11/24/25
File description: html template to showcase all records of appointments, organized by time-->

{% extends 'project/base.html' %}
 
{% block content %}
<h1>Showing all Appointment records</h1>

<div class="container">
        
        <div class="row">
            {% include "project/appointment_search.html" %}
        </div>
        <a class="buttons" href="{% url 'appointments' %}">Clear Filters</a>
 
    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Previous</a></span>                
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next</a></span>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
    
	<!-- table of results -->
    <div class="row">
        <table>
            
            <tr>
                <th>Date & Time</th>
                <th>Patient</th>
                <th>Appointment Type</th>
                <th>Problem</th>
                <th>Doctor(s)</th>
                <th>Nurse(s)</th>
            </tr>
    
            {% for a in appointments %}
            <tr>
                <td>
                    <a href="{% url 'appointment' a.pk %}">
                        {{a.dateTime|date:"m/d/Y g:i A"}}
                    </a>
                </td>
                <td>
                    <a href="{% url 'patient' a.patient.pk %}">
                        {{a.patient.lastName}}, {{a.patient.firstName}}
                    </a>
                </td>                 
                <td>{{a.get_appointmentType_display}}</td>
                <td>{{a.problem}}</td>
                <td>
                    {% for doctor in a.get_doctors %}
                        <a href="{% url 'doctor' doctor.pk %}">{{doctor.lastName}}</a>{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        None
                    {% endfor %}
                </td>
                <td>
                    {% for nurse in a.get_nurses %}
                        <a href="{% url 'nurse' nurse.pk %}">{{nurse.lastName}}</a>{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        None
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
 
</div>    
{% endblock %}