<!--templates/project/base.html
Sulaf Al Jabal (U78815065) 11/24/25
File description: base html template for final project-->
{% load static %}

<html>
    <title>Hospital Scheduling Application</title>
    <link rel="stylesheet"  href="{% static 'project/styles.css' %}">

    <body>
        <nav>
            <button type="button"><strong><a href="{% url 'home' %}">Home</a></strong> </button>
            <button type="button"><strong><a href="{% url 'patients' %}">View All Patients</a></strong> </button>
            <button type="button"><strong><a href="{% url 'doctors' %}">View All Doctors</a></strong> </button>
            <button type="button"><strong><a href="{% url 'nurses' %}">View All Nurses</a></strong> </button>
            <button type="button"><strong><a href="{% url 'appointments' %}">View All Appointments</a></strong> </button>
            <button type="button"><strong><a href="{% url 'appointment_calendar' %}">View Appointment Calendar</a></strong> </button>
            <button type="button"><strong><a href="{% url 'day_schedule' %}">Today's Schedule</a></strong> </button>

        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>