<!-- project/base.html
 Sulaf Al Jabal (U78815065) 11/24/25
 file description: base html template for entire project-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Scheduling Application</title>
    <link rel="stylesheet" href="{% static 'project/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'patients' %}">Patients</a></li>
                <li><a href="{% url 'doctors' %}">Doctors</a></li>
                <li><a href="{% url 'nurses' %}">Nurses</a></li>
                <li><a href="{% url 'appointments' %}">Appointments</a></li>
                <li><a href="{% url 'appointment_calendar' %}">Calendar</a></li>
                <li><a href="{% url 'day_schedule' %}">Today's Schedule</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Hospital Scheduling Application &copy; 2025</p>
        <p>Current Time: {{ current_time|date:"F d, Y g:i A" }}</p>
    </footer>
</body>
</html>