<!--templates/project/doctors.html
Sulaf Al Jabal (U78815065) 11/24/25
File description: html template to showcase all records of Doctors-->

{% extends 'project/base.html' %}

{% block content %}

<h2>Showing all doctors</h2>
<h3>Click on a doctor's name to view their information</h3>

<div>
    <a href="{% url 'create_doctor' %}">
        <button type="button">Create New Doctor</button>
    </a>
</div>

<br>

{% for d in doctors %}
    <a href = "{% url 'doctor' d.pk %}">
        <p>{{d.firstName}} {{d.lastName}} - {{d.specialty}}</p>
    </a>
{% endfor %}
{% endblock %}