<!-- project/nurse.html
 Sulaf Al Jabal (U78815065) 11/24/25
 file description: html template dedicated to showing details about a certain Nurse record-
 Contains their information and their past appointments (need to figure that part out)-->

{% extends 'project/base.html' %}

{% block content %}

<h2>nurse: {{nurse.firstName}} {{nurse.lastName}}</h2>
{% if nurse.picture %}
    <img src="{{nurse.picture}}" alt="Picture of nurse {{nurse.firstName}} {nurse.lastName}" width="200">
{% else %}

    <img src="../../../media/Default_pfp.jpg" alt="No picture associated with this nurse" width="200">

{% endif %}
{% endblock %}