<!--templates/project/nurses.html
Sulaf Al Jabal (U78815065) 11/24/25
File description: html template to showcase all records of Nurses-->

{% extends 'project/base.html' %}

{% block content %}

<h2>Showing all nurses</h2>
<h3>Click on a nurse's name to view their information</h3>

<div>
    <a href="{% url 'create_nurse' %}">
        <button type="button">Create New Nurse</button>
    </a>
</div>

<br>

{% for n in nurses %}
    <a href = "{% url 'nurse' n.pk %}">
        <p>{{n.firstName}} {{n.lastName}}</p>
    </a>
{% endfor %}

{% endblock %}