<!-- blog/show_all.html-->

{% extends 'blog/base.html' %}

{% block content %}
<h1>Showing all articles</h1>


 <main class="grid-container">
    <!--scriplet code going through all articles-->
    {% for article in articles %}
        <article>
                <a href = "{% url 'article' article.pk %}">
                <div>

                        <h2>
                            {{article.title}}
                        </h2>
                        <h3>
                            By {{article.author}}
                        </h3>
                        <p>
                            {{article.text}}
                        </p>
                </div>
                {% if article.image_file %}
                    <img src="{{article.image_file.url}}" alt="">
                {% else %}
                    <h3>No image available</h3>
                {% endif %}
                </a>
        </article>
    {% endfor %}
    </main>

{% endblock %}