{% extends 'quotes/base.html' %}

{% block content %}
        <h1>Hello!</h1>
        <p>
            This page is dedicated to showcasing quotes by the British artist Alexander James O'Connor, commonly known as 
            Rex Orange County
            Alexander James O'Connor (born 4 May 1998), known professionally as Rex Orange County, is a British singer, songwriter and 
            multi-instrumentalist from Grayshott, England. NPR Music's Zoë Jones has described O'Connor's music as "a bright blend of 
            hip-hop, jazz, and bedroom pop". Taken from <a href={{wiki_link}}>Wikipedia</a>

        </p>

        
{% endblock %}