<!--quotes/templates/quotes/about_page.html
Sulaf Al Jabal (sulafaj@bu.edu) 09/09/2025
Description: template for about_page.html. Contains basic information about the artist-->


{% extends 'quotes/base.html' %}

{% block content %}
        <h1>Hello!</h1>
        <p>
           "Alexander James O'Connor (born 4 May 1998), known professionally as Rex Orange County, is a British singer, songwriter and 
            multi-instrumentalist from Grayshott, England. NPR Music's Zoë Jones has described O'Connor's music as "a bright blend of 
            hip-hop, jazz, and bedroom pop". Taken from <a href={{wiki_link}} target = "_blank">Wikipedia</a>
            <br> <!-- reference to Rex's wikipedia link-->
            This website is dedicated to showcasing quotes from Rex Orange County.

        </p>

        
{% endblock %}