<!-- templates/mini_insta/base.html
 Sulaf AL Jabal (sulafaj@bu.edu) 09/24/25
 Description: base html template for all pages on mini_insta
 application-->
{% load static %}

<html>

    <head>
        <title>Mini Instagram</title>
        <link rel="stylesheet"  href="{% static 'mini_insta/styles.css' %}">
        <p>Logged in as: {{request.user}}</p>
    </head>

    <body>

        {% block content %} <!--Insert page specific content here-->
        {% endblock %}

        <footer>
            <nav>
                <button type="button"><strong><a href="{% url 'show_all_profiles' %}">View All Profiles</a></strong> </button>

                {% if request.user.is_authenticated %}
                <button type="button"><strong><a href = "{% url 'show_feed' %}">Home Page</a> </strong></button>
                <button type="button"><strong><a href = "{% url 'search' %}">Search</a> </strong></button>
                <button type="button"><strong><a href = "{% url 'create_post' %}">Create Post</a> </strong></button>

                {% with user.profile as my_profile %} <!--Checking if logged in user has a profile-->
                {% if my_profile %} <!--if profile exists, let user access their profile-->
                <button type="button"><strong><a href = "{% url 'show_profile' user.profile.pk %}">Show Profile</a> </strong></button>
                {% endif %}
                {% endwith %}

                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit"><strong>Logout</strong>
                </form>
                </button>

                {% else %}
                <button type="button"><strong><a href="{% url 'login' %}">Login</a></strong></button>
                <button type="button"><strong><a href="{% url 'create_profile' %}">Create Profile</a></strong></button>

                {% endif %}
            </nav>
        </footer>

    </body>
</html>