<!-- mini_insta/create_post_form.html
 dipslay the HTML form to create a new Post on a Profile object-->


{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="grid-container">

    <h2>Create a new post for {{profile.display_name}}</h2>

    <form method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}} <br>
        </table>
            Input image(s): <input type="file" multiple name="image_file"> <br>
            <input type="submit" name="submit" value="submit"> <br>
    </form>

    <form action ="{% url 'show_profile' profile.pk %}" method ="GET">
        <input type="submit" value = "Cancel">
    </form>
    
</main>
{% endblock %}