<!-- mini_insta/create_post_form.html
 dipslay the HTML form to create a new Post on a Profile object-->


{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="grid-container">

    <h2>Create a new post for {{profile.display_name}}</h2>

    <form method = "POST">
        {% csrf_token %}
        <table>
            {{form.as_table}} <br>
        </table>
            Input image url: <input type="text" name="image_url">
            <input type="submit" name="submit" value="submit"> <br>
            <button type = "button"><a href="{% url 'show_profile' profile.pk %}">Cancel</a></button>
        </form>
</main>
{% endblock %}