<!--File: mini_insta/search.html
Sulaf Al Jabal (U78815065) 10/17/25
Description: search template file, displays search form-->

{% extends 'mini_insta/base.html' %}

{% block content %}
{% if user.is_authenticated %}

    <h2>@{{profile.username}}: Search</h2>
    
    <form method="GET" action="{% url 'search' profile.pk %}">
        <label for="query">Search:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Search</button>
    </form>
{% else %}
<p>You must be logged in to search </p>
{% endif %}
{% endblock %}