<!-- templates/mini_insta/show_all_profiles.html
 Sulaf AL Jabal (sulafaj@bu.edu) 09/24/25
 Description: html template responsible for showing all profiles in
 this mini instagram application-->

{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>Mini Insta: All profiles</h1>

 <main class="grid-container">
    <!--scriplet code going through all profiles-->
    {% for profile in profiles %}
        <profile>
            <div>
                <h3>
                    @{{profile.username}}
                </h3>
            </div>
            
            <a href = "{% url 'show_profile' profile.pk %}"> <!--Link to each individual user's page-->
                <img src="{{profile.get_profile_image}}" alt="No profile image available" width="400">
            </a>

        </profile>
    {% endfor %}
    </main>

 {% endblock %}