<!-- mini_insta/show_post.html
 Sulaf Al Jabal (sulafaj@bu.edu) 10/09/2025
 Description: html file for displaying individual post tied to a 
 certain profile-->

{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>Post by {{post.profile.display_name}}</h1>

<main class="grid-container">
    <div><p>{{post.profile.bio_text}} <br></p></div>

    <div>
        <p>
            "     {{post.caption}}    " <br>
            Uploaded at: {{post.timestamp}}
        </p>

        {% if user.is_authenticated and is_owner %}
        <div>
            <!--Update and delete buttons for post -->
            <button type="button"><a href = "{% url 'update_post' post.pk %}">Update this post</a></button><br>
            <button type="button"><a href ="{% url 'delete_post' post.pk %}">Delete this post</a></button>
        </div>
        {% endif %}

        {% for photo in post.get_all_photos %}
            {% if photo %}
                <img src="{{ photo.get_image_url }}" alt="No photo available..." width="400"> <br>
            {% else %}
                <img src="No photo available" alt="No photo available..." width="400"> <br>
            {% endif %}
        {% endfor %}

        <div>
            {% if post.get_num_likes > 0 %}
                <h3>Liked by @{{post.get_first_like.profile.username}} and {{post.get_num_likes }} others</h3>
            {% else %}
                <h3>0 likes</h3>
            {% endif %}

            {% if user.is_authenticated and not is_owner %}
                {% if has_liked %}
                    <form method="GET" action="{% url 'delete_like' post.pk %}">
                        <button type="submit">Unlike</button>
                    </form>
                {% else %}
                    <form method="GET" action="{% url 'like_post' post.pk %}">
                        <button type="submit">Like</button>
                    </form>
                {% endif %}
            {% endif %}


            <h3>Comments</h3>
            {% for comment in post.get_all_comments %}
                <h4>@{{comment.profile.username}} </h4>
                <p>{{comment.text}}</p>
            {% endfor %}
        </div>
        
    </div>
</main>


{% endblock %}