<!-- mini_insta/show_profile.html
 Sulaf Al Jabal (sulafaj@bu.edu) 09/25/25
 Description: html file for displaying individual profile-->

{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>@{{profile.username}} <br>{{profile.display_name}}</h1>

<main class="grid-container">
<!--scriplet code going through all articles-->
    <profile>
        <div>
            <p>
                {{profile.bio_text}} <br>
                Joined on: {{profile.join_date}} <br>
            </p> 
            <button type="button"><h3><a href = "{% url 'create_post' profile.pk %}">Create a post for {{profile.display_name}}</a></h3></button>
            <br>
            <button type="button"><h3><a href="{% url 'update_profile' profile.pk %}">Update this profile</a></h3></button>
        </div>

        <img src="{{profile.get_profile_image}}" alt="No image available">
    </profile>

    <div id = "profile-info">
        
        <h4 id = "post_num">
            {{profile.get_all_posts.count}} posts
        </h4>   
        <h4 id = "followers">
            <a href = "{% url 'show_followers' profile.pk %}">
            {{profile.get_num_followers}} followers
            </a>
        </h4>

        <h4 id = "following">
            <a href = "{% url 'show_following' profile.pk %}">
            {{profile.get_num_following}} following
            </a>
        </h4>
    </div>  
    <div>
        <h3>All posts by {{profile.display_name}}</h3>
        <post>
            {% for post in profile.get_all_posts %}
                <a href="{% url 'show_post' post.pk %}">
                    {% with first_photo=post.get_all_photos|first %}
                        {% if first_photo %}
                            <img src="{{ first_photo.get_image_url }}" alt="No photo available..." width="400"> <br>
                        {% else %}
                            <img src="no photo available..." alt="No photo available..." width="400"> <br>
                        {% endif %}
                    {% endwith %}
                    <p>
                        "    {{post.caption}}    " <br>
                        Uploaded: {{post.timestamp}} <br>
                    </p>

                </a>

            {% endfor %}
        </post>

    </div>  
</main>

{% endblock %}