<!-- mini_insta/update_profile_form.html
 Sulaf Al Jabal (sulafaj@bu.edu) 10/09/2025
 file description: dipslay the HTML form to update an existing profile-->


{% extends 'mini_insta/base.html' %}

{% block content %}
{% if user.is_authenticated %}

    <h1>Update this profile: @{{profile.username}}</h1>
    <!-- display the HTML form-->
    <form action = "{% url 'update_profile' %}" method = "POST"
        enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>

        <input type="submit" name="submit" value="update">
    </form>

    <form action ="{% url 'show_profile' profile.pk %}" method ="GET">
        <input type="submit" value = "Cancel">
    </form>

{% else %}
<p>You must be logged in to update a profile </p>
{% endif %}

{% endblock %}