/*  
file: quotes/static/styles.css
Sulaf Al Jabal (sulafaj@bu.edu) 09/09/2025
Description: CSS style sheet taken from Blackboard */


body {
    background-color: #ffe5ec;
    color: #a4133c;
    font-family: arial;
    margin: 10;
    width: 70%;
    justify-self: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: #8a213f 0px 0px 10px 2px;
    box-sizing: border-box;
    padding: 10;


}

img {
    margin: 10;
}

h2,h3,h4,h5{
    font-weight: normal;
    background:#ffc2d1;
    margin: 10;
    
}
h1{
    font-weight: normal;
    background:#ffc2d1;
    margin: 10;
    text-align: center;
    border-radius: 8px;
}

p {
    border-radius: 8px;

}


a, a:visited {
    color: #a4133c;
    text-decoration: underline;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
    /* font-weight: bold; */
}


header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:#ffb3c6;
    position: fixed;
    top: 0px;
    z-index: 999;
    /* padding-right: 50px auto; */
}

footer {
    background:#ffc2d1;

    bottom: 0px;
    width: 100%;
    margin-bottom: 20;
    border-radius: 4px;
}



nav {
    justify-self: center;
    background: none;
    color: #fb6f92;
    align-items: top;

    /* border: 1px solid; */
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav button {
    background: none;
    color: #ffe5ec;
    font-family: Arial;
    cursor: pointer; 
    border: 1px solid;
    font-size: 1.2 em;
}


/* responsive styles when width is less than 1400px */
@media screen and (max-width: 560px) {
    header h1 {
        size: 0.8em;
    }

    nav li {
        display: block;
        margin-left: 0px;
        font-size: 14px;
        width: 100%;
    }
    
    nav button {
        background: none;
        color: slategray;
        font-family: Arial;
        cursor: pointer; 
        border: 0;
        font-size: 20px;
    }
    /* on mobile, display image as max 95% of available width*/
    img {
        max-width: 95%;
    }
} 
